@font-face {
    font-family: 'KaTeX_Main';
    src:
        url('https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/fonts/KaTeX_Main-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/fonts/KaTeX_Main-Regular.woff')  format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KaTeX_Math';
    src:
        url('https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/fonts/KaTeX_Math-Italic.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/fonts/KaTeX_Math-Italic.woff')  format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'KaTeX_Size1';
    src:
        url('https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/fonts/KaTeX_Size1-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/fonts/KaTeX_Size1-Regular.woff')  format('woff');
    font-weight: normal;
    font-style: normal;
}

.forall, .exists, .identifier, .equality, .application, .hole {
    font-family: 'KaTeX_Size1', serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1em;
    height: calc(1em + 10px);
    padding: 0 1px 0;
    border-radius: 4px;
    user-select: none;
    /*cursor: pointer;*/
    /*margin: 1px;*/
    /*border: 1px solid rgba(255, 0, 0, .5);*/

    --separation-margin: 3px;

    &[draggable], &[draggable] * {
        cursor: grab;
        touch-action: none;
    }

    &[draggable]:hover {
        background: rgba(255, 0, 0, .1);
        margin-bottom: -1px;
        border-bottom: 1px solid red;
    }

    &.just-added {
        animation: shake .3s;

        --text-shadow: rgba(126, 126, 126, 0.2);
    }
}

@keyframes shake {
    0% { transform: rotate(0deg); text-shadow: 0 0 5px var(--text-shadow); }
    25% { transform: rotate(-1deg); text-shadow: 0 0 10px var(--text-shadow); }
    50% { transform: rotate(1deg); text-shadow: 0 0 10px var(--text-shadow); }
    75% { transform: rotate(0deg); text-shadow: 0 0 5px var(--text-shadow); }
    100% { transform: rotate(1deg); }
}

.hole {
    border: 1px dashed dimgray;
    background: rgba(0, 0, 0, .2);
    min-width: .7em;
    height: 1em;
    transition: transform .2s, opacity .2s;

    &.drop-target {
        transform: scale(1.2);
        opacity: .8;
    }
}

.parenthesis {
    color: rgba(0, 0, 0, .4);
    /*padding-top: 3px;*/
    /*padding-bottom: 3px;*/

    &:first-child {
        margin-left: -3px;
    }

    &:last-child {
        margin-right: -3px;
    }
}

.equality > .operator {
    line-height: calc(1em + 10px);
    margin: 0 var(--separation-margin);
}

.application > *:not(.parenthesis) + *:not(.parenthesis) {
    margin-left: var(--separation-margin);
}

.forall > :last-child,
.exists > :last-child {
    margin-left: var(--separation-margin);
}

.binder {
    color: darkgoldenrod;
}

.identifier {
    padding: 0;

    &.bound {
        font-family: 'KaTeX_Math', serif;
        font-style: italic;
    }

    &.free {
        font-family: 'KaTeX_Size1', serif;
        font-style: normal;
        font-weight: bold;
        color: darkslateblue;
    }

    sub {
        transform:
            translate(-2px, 25%)
            scale(.7);
        margin-right: -2px;
    }
}
