@font-face {
    font-family: 'KaTeX_Main';
    src:
        url('https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/fonts/KaTeX_Main-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/fonts/KaTeX_Main-Regular.woff')  format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KaTeX_Math';
    src:
        url('https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/fonts/KaTeX_Math-Italic.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/fonts/KaTeX_Math-Italic.woff')  format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'KaTeX_Size1';
    src:
        url('https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/fonts/KaTeX_Size1-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/fonts/KaTeX_Size1-Regular.woff')  format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    max-width: 700px;
    margin: 0 auto;
}

.expression, .full-binder {
    font-family: 'KaTeX_Size1', serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1em;
    height: calc(1em + 10px);
    padding: 0 1px 0;
    border-radius: 4px;
    user-select: none;
    margin: 0;
    border: 1px solid transparent;

    /*border: 1px solid rgba(255, 0, 0, .5);*/

    --separation-margin: 3px;

    .identifier {
        height: 1em;
    }

    &[draggable="true"], &[draggable="true"] * {
        touch-action: none;

        &:not(.grabbed) {
            cursor: grab;
        }
    }

    &[draggable="true"]:hover {
        &:not(:has(&)):not(:has(.active-drop-target)):not(:has(.full-binder:hover)) {
            background: rgba(255, 0, 0, .1);
            border-bottom: 1px solid red;
        }
    }

    &.grabbed {
        background: rgba(255, 0, 0, .1);
        border-bottom: 1px solid red;
        box-shadow: 0 0 5px red;
    }

    &.just-added {
        animation: shake .3s;

        --text-shadow: rgba(255, 255, 0, 0.2);
    }

    &.enabled-drop-target {
        background: rgba(255, 255, 0, .1);
        border: 1px dashed dimgray;
    }
    &.active-drop-target:not(:has(.active-drop-target)) {
        background: yellow;
    }
}

@keyframes shake {
    0% { transform: rotate(0deg); text-shadow: 0 0 5px var(--text-shadow); }
    25% { transform: rotate(-1deg); text-shadow: 0 0 10px var(--text-shadow); }
    50% { transform: rotate(1deg); text-shadow: 0 0 10px var(--text-shadow); }
    75% { transform: rotate(0deg); text-shadow: 0 0 5px var(--text-shadow); }
    100% { transform: rotate(1deg); }
}

.enabled-drop-target {
    cursor: pointer !important;
}

.hole {
    border: 1px dashed dimgray;
    background: rgba(0, 0, 0, .2);
    min-width: .7em;
    height: 1em;
    transition: transform .2s, opacity .2s, background-color .2s;
    transform: scale(.8);
    opacity: .5;

    &.enabled-drop-target {
        background: rgba(34, 139, 34, .05);
        transform: scale(1);
        opacity: 1;

        &.active-drop-target {
            background: rgba(34, 139, 34, .2);
            transform: scale(1.2);
            opacity: .8;
        }
    }
}

.parenthesis {
    color: rgba(0, 0, 0, .4);
    /*padding-top: 3px;*/
    /*padding-bottom: 3px;*/

    &:first-child {
        margin-left: -3px;
    }

    &:last-child {
        margin-right: -3px;
    }
}

.equality > .operator {
    transform: translateY(2px);
    margin: 0 var(--separation-margin);
}

.application > *:not(.parenthesis) + *:not(.parenthesis) {
    margin-left: var(--separation-margin);
}

.forall > :last-child,
.exists > :last-child {
    margin-left: var(--separation-margin);
}

.binder {
    color: darkgoldenrod;
}

.full-binder {
    &, & * {
        cursor: pointer !important;
    }

    &:hover {
        background: rgba(34, 139, 34, .1);
    }
    &:active {
        background: rgba(34, 139, 34, .2);
    }
}

.identifier {
    padding: 0;

    &.bound {
        font-family: 'KaTeX_Math', serif;
        font-style: italic;
    }

    &.free {
        font-family: 'KaTeX_Size1', serif;
        font-style: normal;
        font-weight: bold;
        color: darkslateblue;
    }

    &.highlighted {
        background-color: yellow;
    }

    sub {
        transform:
            translate(-2px, 25%)
            scale(.7);
        margin-right: -2px;
    }
}

.logic-system {
    margin: 1em;

    ol {
        counter-reset: section;
        list-style-type: none;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            margin-left: .5em;
            margin-bottom: .2em;
        }

        li::before {
            counter-increment: section;
            padding-right: .5em;
        }
    }

    .axioms, .theorems {
        li > .expression {
            justify-content: left;
            width: fit-content;
        }
    }

    .axioms {
        border-bottom: 1px solid gray;
        margin-bottom: 1em;

        li::before {
            content: 'A' counter(section) ". ";
        }
    }

    .theorems {
        li::before {
            content: counters(section, ".") ". ";
        }

        & > li::before {
            content: 'T' counters(section, ".") ". ";
        }
    }
}

.expression-editor {
    display: flex;
    border-top: 1px solid gray;
    margin: 1em auto 0;

    .pallete {
        padding: 0 .5em;
        margin: .5em .5em .5em 0;
        max-width: 80px;
        gap: 1px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;

        &::before {
            background: gray;
            content: ' ';
            width: 1px;
            position: absolute;
            right: -.5em;
            transform: translateX(50%);
            top: 0;
            bottom: 0;
        }

        & > .identifier {
            padding-left: .3em;
            padding-right: .3em;
        }

        * {
            transition: filter .2s;
        }

        .delete-expression-drop-target {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: red;
            display: none;
            text-align: center;
            z-index: 1;

            &.enabled-drop-target {
                display: block;
                background: rgba(255, 0, 0, .05);
                border: 1px dashed dimgray;
                transition: background-color .2s;
                align-content: center;

                &::after {
                    content: '♻️';
                    font-family: sans-serif;
                    font-size: 2em;
                    opacity: .5;
                    transition: transform .1s;
                    display: block;
                }

                & ~ * {
                    filter: blur(5px);
                    transition: filter 0s;
                }

                &.active-drop-target {
                    background: rgba(255, 0, 0, 0.2);
                }
            }
        }
    }

    .canvas {
        padding: .5em 0;
        margin: .5em 0 .5em .5em;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .new-expression-drop-target {
            align-self: stretch;
            text-align: center;
            flex-grow: 1;

            &.enabled-drop-target {
                background: rgba(34, 139, 34, .05);
                border: 1px dashed dimgray;
                transition: background-color .2s;

                &::after {
                    content: '➕ Nueva expresión';
                    text-align: center;
                    font-family: sans-serif;
                    font-size: .5em;
                    padding-top: 1em;
                    opacity: .5;
                }

                &.active-drop-target {
                    background: rgba(34, 139, 34, .2);
                }
            }
        }
    }
}
